.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.content {
  height: 300px;
  resize: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--color);
  outline-offset: var(--outline-offset);
  color: var(--color);
}
